<div class="song">
  <h5>Title: {{title}}</h5>
  <h5>Artist: {{artist}}</h5>
  <img class="cover" src="{{imageURL}}" />
  <p>Likes: {{likes}}; Listened {{listened}} times</p>
  <a href="#/delete/{{_id}}"><button type="button" class="btn btn-danger mt-4">Remove</button></a>
  <a href="#/listen/{{_id}}"><button type="button" class="btn btn-success mt-4">Listen</button></a>
</div>